package made

templ Input(name, placeholder, typ string) {
    <input id={name} name={name} placeholder={placeholder} type={typ} />
}

templ SubmitInput(name string) {
    <input id={name} name={name} type="submit" />
}

templ ResetInput(name string) {
    <input id={name} name={name} type="reset" />
}